body {
  width: 100%;
  height: auto;
  background-color: #c8e3f5;
}

.nav {
  margin: 10px;
  background-color: #ffffff;
  width: 98.5%;
  height: 107px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.nav .ul1{
  list-style: none;
  display: flex;
  align-items: center;
  padding-left: 20px
}

.nav .ul1 img {
  width: auto;
  height: 130px;
}


.nav .ul2{
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 60px;
  margin-right: 100px;
  padding: 5px;
}

.nav .ul2 li a{
  text-decoration: none;
  color: #b24700;
  font-weight: bolder;
  font-family:'Courier New', Courier, monospace;
  font-size: 20px;
}

.nav .ul3{
  list-style: none;
  margin-right: 50px;
}

.nav .ul3 img{
  width: auto;
  height: 90px;
  background: none;
  background-color: transparent;
}




.nav img {
  width: 100px;
}
/* .nav h1 {
  color: #ff0000;
  text-shadow: 2px 2px 20px black;
} */

.mar {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mar .ul1 {
  padding: 10px;
  width: 14.6%;
  height: auto;
  background-color: #ffffff;
}

.mar .latest-release {
  margin-top: 0px;
  padding: 0px 10px 0px 10px;
  background-color: grey;
  color: #ffffff;
}

.mar .ul2 {
  margin-left: 25px;
  padding: 20px;
  height: 300px;
  width: 44.6%;
  background-color: #ffffff;
}

.mar .media-release {
  margin-top: 0px;
  padding: 0px 10px 0px 10px;
  background-color: #0d3f1d;
  color: #ffffff;
}

.mar .ul3 {
  margin-left: 25px;
  margin-right: 10px;
  padding: 20px;
  height: 300px;
  width: 15.96%;
  background-color: #ffffff;
}

.mar .ul3 a{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-end;
  font-size: 13px;
  font-weight: 500;
  color: #00009a;
  margin-top: 10px;
  margin-right: 0px;
  padding: 2px;
}

.mar .login {
  margin-top: 0px;
  padding: 0px 10px 0px 10px;
  background-color: #b24700;
  color: #ffffff;
}

label {
  font-size: 15px;
  font-weight: 500;
  color: red;
}

input[type="text"] {
  width: 95%;
  padding: 5px;
  border: 1px solid grey;
}

input[type="submit"] {
  width: 100%;
  height: 30px;
  color: #ffffff;
  font-size: 18px;
  background-color: #6ca3d5;
  border: #6ca3d5;
  border-radius: 2px;
}

input[type="submit"]:hover {
  background-color: #6293d4;
}



.mar .media-release-content{
  font-size: 15px;
  font-style: italic;
  color: rgb(30, 29, 29);
  margin: 2px;
  padding: 10px;
  list-style: square;
  max-height: 240px;
  overflow-y: auto;
  overflow-x: auto;
}

.mar .media-release-content li{
  margin-bottom: 10px;
}
/* marquee{
  
} */


/*<------section 2 begins------->*/

.section2{
  margin-top: 10px;
  width: 100%;
  display: flex;
}

.section2 .ul1{
  list-style: none;
}

.section2 .ul1 img{
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 10px;
  width: 200px;
  height: auto;
}

